@page "/contact-us"

<section>
<h1 class="title">CONTACT US</h1>

<form>
    <div class="flex gap-2">
            <div class="field flex-grow-1">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Full Name">
                </div>
            </div>
            <div class="field flex-grow-1">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Email Address">
                </div>
            </div>
    </div>
   
   
    <div class="field">
        <label class="label">Message</label>
        <div class="control">
            <textarea class="textarea" placeholder="Report an Issue bla bla"></textarea>
        </div>
    </div>

    <div class="flex j-content-end">
    <button class="button bg-yellow">Send</button>
        </div>
</form>
</section>