@page "/"

<PageTitle>Home</PageTitle>
<h1 class="title">Digital Door Reporting Documentation</h1>
<p class="sub">
    Welcome to the Digital Door Reporting Docs. Get familiar with our Products
    and Integration
</p>
<div class="grid-col-2 gap-2 mt-3">
    <a href="wiki" class="p">
    <div class="boxs">
        <div class="flex gap-1-5 ">
            <div class="icon-wp bg-yellow">
                <img src="img/bracket.png" alt="brackets">
            </div>
            <div class="content">
                <h3 class="mb-1 ">Wiki</h3>
                <p>
                    Start here! Best Practices,
                    Setup steps, and other useful information.
                </p>
            </div>
        </div>
    </div>
    </a>
    <a href="report-issue" class="p">
    <div class="boxs">
        <div class="flex gap-1-5 qwav">
            <div class="icon-wp">
                <span>
                    <i class="fa-solid fa-bug"></i>
                </span>
            </div>
            <div class="content">
                <h3 class="mb-1">Report Issue</h3>
                <p>
                    Start here! Best Practices,
                    Setup steps, and other useful information.
                </p>
            </div>
        </div>
    </div>
    </a>
    <a href="team" class="p">
    <div class="boxs">
        <div class="flex gap-1-5 qwav">
            <div class="icon-wp">
                <span>
                    <i class="fa-solid fa-bug"></i>
                </span>
            </div>
            <div class="content">
                <h3 class="mb-1">Team</h3>
                <p>
                    Start here! Best Practices,
                    Setup steps, and other useful information.
                </p>
            </div>
        </div>
    </div>
    </a>
    <a href="contact-us" class="p">
    <div class="boxs">
        <div class="flex gap-1-5 qwav">
            <div class="icon-wp">
                <span>
                    <i class="fa-solid fa-bug"></i>
                </span>
            </div>
            <div class="content">
                <h3 class="mb-1">Contact Us</h3>
                <p>
                    Start here! Best Practices,
                    Setup steps, and other useful information.
                </p>
            </div>
        </div>
    </div>
    </a>
</div>

<div class="getting-started-wp mt-3">
    <h2 class="subtitle clr-yellow mb-3">Getting Started</h2>
    <div class="list-wp pl-2">
        <ul class="get-started-ul">
            <li>
                <h3 class="clr-yellow">
                    Totally new here?
                </h3>
                <p>
                    Lorem ipsum bla bla bla bla
                    dwadwadwadadadafgdwahjdmwjadnwadwahdhwahdwnhanhdwanhdnhwanhdwa
                </p>
            </li>
            <li>
                <h3 class="clr-yellow">
                    Learn the Reporting
                </h3>
                <p>
                    Lorem ipsum bla bla bla bla
                    dwadwadwadadadafgdwahjdmwjadnwadwahdhwahdwnhanhdwanhdnhwanhdwa
                </p>
            </li>
            <li>
                <h3 class="clr-yellow">
                    Step by Step Guide
                </h3>
                <p>
                    Lorem ipsum bla bla bla bla
                    dwadwadwadadadafgdwahjdmwjadnwadwahdhwahdwnhanhdwanhdnhwanhdwa
                </p>
            </li>
        </ul>
    </div>
</div>