@page "/report"
@using DigitalDoor.Reporting.Blazor.Components

<section>
    <h1 class="title">REPORT PRACTICE</h1>


    <div style="background-color: white;">
        @if (Report is not null)
        {
            <ReportView ReportModel=Report />
        }
    </div>

 
</section>