@page "/report-issue"

<section>
<h1 class="title">Report Issue</h1>
<p class="sub mb-3">report a bug bla bla bla</p>

<form>
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="Full Name">
        </div>
    </div>
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="Email Address">
        </div>
    </div>
    <div class="field">
        <label class="label">Message</label>
        <div class="control">
            <textarea class="textarea" placeholder="Report an Issue bla bla"></textarea>
        </div>
    </div>

        <div class="flex j-content-end">
            <button class="button bg-yellow">Report</button>
        </div>
</form>
</section>