@page "/team"

<section class="team-wp">
<h1 class="title">TEAM</h1>
    <p class="sub mb-3">Casual people who achieve mad things</p>

    <div class="flex flex-wrap j-space-between">
    <div class="img-wp">
    </div>
    <div class="img-wp">
    </div>
    <div class="img-wp">
    </div>
    </div>
</section>