@if(ReportModel is not null)
{
    <button type="button" @onclick=GenerateBytesData class="@WrapperCss" 
        @attributes="AdditionalAttributes">
        @if(ChildContent is not null)
        {
            @ChildContent
        }
        else
        {
            <span>Generate PDF</span>
        }
    </button>  
    <ReportView ReportModel=ReportModel 
        ShowPreview=false 
        OnGetHtml=OnGetHtml
        WrapperId="@WrapperId" />
}




