@if(ReportModel is not null)
{
    <button type="button" @onclick=GeneratePdf @attributes="AdditionalAttributes">
        @if(ChildContent is not null)
        {
            @ChildContent
        }
        else
        {
            <span class="button is-link btn btn-primary">Generate PDF</span>
        }
    </button>
    <ReportView ReportModel=ReportModel 
        ShowPreview=false 
        OnGetHtml=OnGetHtml
        WrapperId="@WrapperId" />
}




