@media print {
    body, html, section, header, footer, aside, article, main {
        visibility: hidden;
        height: 0;
        margin: 0;
    }
    .dd-report-container {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        visibility: visible;
        width: 100%;
        z-index: 1001;
    }
        .dd-report-container .report-container {
            overflow: hidden;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: transparent;
            visibility: visible;
            z-index: 1002;            
        }
            .dd-report-container .report-container .report-background {
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
                visibility: visible;
                z-index: 1003;
            }
                .dd-report-container .report-container .report-background > div:first-child {
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    visibility: visible;
                    z-index: 1004;
                }
                .dd-report-container .report-container .report-background .print-container {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    visibility: visible;
                    z-index: 1005;
                }   
}
